# CACHÉ DE VISUAL STUDIO CODE
.vscode/

# CARPETA DE BIOS
bios/

# EMULADOR CEMU
emuladores/cemu/gameProfiles/
emuladores/cemu/graphicPacks/
emuladores/cemu/memorySearcher/
emuladores/cemu/resources/
emuladores/cemu/shaderCache/
emuladores/cemu/Cemu.exe
emuladores/cemu/cemuhook.dll
emuladores/cemu/cemuhook.ini

# EMULADOR DOLPHIN
emuladores/dolphin/Languages/
emuladores/dolphin/QtPlugins/
emuladores/dolphin/User/Backup/
emuladores/dolphin/User/Cache/
emuladores/dolphin/User/Dump/
emuladores/dolphin/User/GBA/
emuladores/dolphin/User/Load/
emuladores/dolphin/User/Logs/
emuladores/dolphin/User/Maps/
emuladores/dolphin/User/ResourcePacks/
emuladores/dolphin/User/ScreenShots/
emuladores/dolphin/User/Shaders/
emuladores/dolphin/User/StateSaves/
emuladores/dolphin/User/Styles/
emuladores/dolphin/User/Themes/
emuladores/dolphin/Dolphin.exe
emuladores/dolphin/DSPTool.exe
emuladores/dolphin/license.txt
emuladores/dolphin/Qt5Core.dll
emuladores/dolphin/Qt5Gui.dll
emuladores/dolphin/Qt5Widgets.dll
emuladores/dolphin/Updater.exe

# FLASH PLAYER
emuladores/flashplayer/flash.exe

# EMULADOR GENS-GS
emuladores/gens-gs/doc/
emuladores/gens-gs/plugins/
emuladores/gens-gs/gens.exe
emuladores/gens-gs/NEWS.txt
emuladores/gens-gs/README.txt

# EMULADOR KEGA FUSION
"emuladores/kega-fusion/Video Codec/"
emuladores/kega-fusion/Fusion.exe
emuladores/kega-fusion/History.txt
emuladores/kega-fusion/install.bat
emuladores/kega-fusion/*.sdb
emuladores/kega-fusion/readme.txt
emuladores/kega-fusion/Readme2.txt
emuladores/kega-fusion/uninstall.bat

# EMULADOR MODEL2EMU
emuladores/model2emu/EMULATOR.EXE
emuladores/model2emu/emulator_multicpu.exe
emuladores/model2emu/README.TXT

# EMULADOR PCSX2
emuladores/pcsx2/bios/
emuladores/pcsx2/cache/
emuladores/pcsx2/cheats/
emuladores/pcsx2/cheats_ws/
emuladores/pcsx2/docs/
emuladores/pcsx2/logs/
emuladores/pcsx2/memcards/
emuladores/pcsx2/resources/
emuladores/pcsx2/snaps/
emuladores/pcsx2/sstates/
emuladores/pcsx2/textures/
emuladores/pcsx2/*.exe

# EMULADOR PPSSPP
emuladores/ppsspp/assets/
emuladores/ppsspp/memstick/PSP/COMMON/
emuladores/ppsspp/memstick/PSP/GAME/
emuladores/ppsspp/memstick/PSP/SAVEDATA/
emuladores/ppsspp/memstick/PSP/SYSTEM/CACHE/
emuladores/ppsspp/*.dll
emuladores/ppsspp/*.exe
emuladores/ppsspp/README.md

# EMULADOR REDREAM
emuladores/redream/cache/
emuladores/redream/states/
emuladores/redream/flash.bin
emuladores/redream/redream.exe
emuladores/redream/redream.log
emuladores/redream/vmu0.bin
emuladores/redream/vmu1.bin
emuladores/redream/vmu2.bin
emuladores/redream/vmu3.bin
emuladores/redream-linux/

# RETROARCH
emuladores/retroarch/assets/
emuladores/retroarch/autoconfig/
emuladores/retroarch/bearer/
emuladores/retroarch/cheats/
emuladores/retroarch/cores/
emuladores/retroarch/database/
emuladores/retroarch/downloads/
emuladores/retroarch/filters/
emuladores/retroarch/iconengines/
emuladores/retroarch/imageformats/
emuladores/retroarch/info/
emuladores/retroarch/layouts/
emuladores/retroarch/logs/
emuladores/retroarch/overlays/
emuladores/retroarch/platforms/
emuladores/retroarch/playlists/
emuladores/retroarch/recordings/
emuladores/retroarch/saves/
emuladores/retroarch/screenshots/ 
emuladores/retroarch/shaders/ 
emuladores/retroarch/states/
emuladores/retroarch/styles/
emuladores/retroarch/system/
emuladores/retroarch/thumbnails/
emuladores/retroarch/*.dll
emuladores/retroarch/*.lpl
emuladores/retroarch/retroarch.exe
emuladores/retroarch/retroarch-nvidia.exe

# RETROARCH OLD
emuladores/retroarch-old/assets/
emuladores/retroarch-old/autoconfig/
emuladores/retroarch-old/bearer/
emuladores/retroarch-old/cheats/
emuladores/retroarch-old/cores/
emuladores/retroarch-old/database/
emuladores/retroarch-old/downloads/
emuladores/retroarch-old/filters/
emuladores/retroarch-old/iconengines/
emuladores/retroarch-old/imageformats/
emuladores/retroarch-old/info/
emuladores/retroarch-old/layouts/
emuladores/retroarch-old/logs/
emuladores/retroarch-old/overlays/
emuladores/retroarch-old/platforms/
emuladores/retroarch-old/playlists/
emuladores/retroarch-old/recordings/
emuladores/retroarch-old/saves/
emuladores/retroarch-old/screenshots/ 
emuladores/retroarch-old/shaders/ 
emuladores/retroarch-old/states/
emuladores/retroarch-old/styles/
emuladores/retroarch-old/system/
emuladores/retroarch-old/thumbnails/
emuladores/retroarch-old/*.dll
emuladores/retroarch-old/*.lpl
emuladores/retroarch-old/*.exe

# OTROS EMULADORES
emuladores/snes9x/
emuladores/vba/

# EMULATIONSTATION
emulationstation/.emulationstation/music/
emulationstation/.emulationstation/recovery/
emulationstation/.emulationstation/scrapers/
emulationstation/.emulationstation/tmp/
emulationstation/.emulationstation/es_log.txt
emulationstation/.emulationstation/es_log.txt.bak
emulationstation/loaders/old/
emulationstation/plugins/
emulationstation/resources/battery/
emulationstation/resources/flags/
emulationstation/resources/help/
emulationstation/resources/locale/
emulationstation/resources/services/
emulationstation/resources/shaders/
emulationstation/resources/*.ttf
emulationstation/resources/*.png 
emulationstation/resources/*.ogg
emulationstation/resources/*.jpg
emulationstation/resources/arrow.svg
emulationstation/resources/busy_0.svg
emulationstation/resources/busy_1.svg
emulationstation/resources/busy_2.svg
emulationstation/resources/busy_3.svg
emulationstation/resources/cartridge.svg
emulationstation/resources/checkbox_checked.svg
emulationstation/resources/checkbox_unchecked.svg
emulationstation/resources/fav_add.svg
emulationstation/resources/fav_remove.svg
emulationstation/resources/folder.svg
emulationstation/resources/freeslot.svg
emulationstation/resources/info.svg
emulationstation/resources/kblayout.svg
emulationstation/resources/network.svg
emulationstation/resources/off.svg
emulationstation/resources/on.svg
emulationstation/resources/option_arrow.svg
emulationstation/resources/question.svg
emulationstation/resources/search.svg
emulationstation/resources/slider_knob.svg
emulationstation/resources/splash.svg
emulationstation/resources/splash_batocera.svg
emulationstation/resources/star_filled.svg
emulationstation/resources/star_unfilled.svg
emulationstation/resources/warning.svg
emulationstation/resources/alert.svg
emulationstation/resources/mamedevices.xml
emulationstation/resources/mamenames.xml
emulationstation/resources/genres.xml
emulationstation/resources/gungames.xml
emulationstation/resources/mamebioses.xml
emulationstation/*.dll
emulationstation/*.exe
emulationstation/*.lib
emulationstation/*.info

# OTROS ARCHIVOS
kodi/
misc/ahks/*.exe
misc/tools
misc/*.exe
roms/
saves/
roms
saves
oldFiles/
screenshots/
tools/
oldFiles
screenshots
tools