[Desktop Entry]
Version=1.1
Type=Application
Name=Windows Gaming (reinicio)
Comment=Mucho entretenimiento, juegos, multimedia...
Icon=/usr/share/icons/Papirus/48x48/categories/applications-games.svg
Exec=win10-gaming
Actions=
Categories=otros-sistemas;Game;
Path=
Terminal=false
StartupNotify=false
